@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet"');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#mymap {
  width: 100%;
  height: 500px;
}
